    body{
        background-image: url("/images/grafico.jpg");
        background-position: left;
        background-color: #cccccc; 
        
    }
    header{
    
    }
nav div{
    width: 70%;
 margin: 0 0 0 15%;
    
}
    main{
margin: 1% 10% 10% 10%;
         background: #6C7A89;
   
         flex-direction: row;
         justify-content: center;
         align-items: center;

        border-style: solid;
        border-color: red;
    }
    main div{
        background-color: white;
    }

    footer{
        display: flex;
    }



div > img {
    width: 100%;
    height: 30%;
}


#resumogas{
    border-style: solid;
    border-color: red;
}
#resumorec{
    border-style: solid;
    border-color: green;
}